html {
    background-color: black;
    width: 1024px;
    height: 441px;
}
#dishList {
    list-style: none;
    color: rgb(245, 181, 84);
    font-family: 'Didact Gothic', sans-serif;
    font-size: 24px;  
}
#dishList label{
    font-size:35px;
    color: white;
}
.nav-title {
    color: white;
    list-style: none;
    font-family: 'Abril Fatface', cursive;
    font-size: 27px;
}
.flex-container {
  display: flex;
  color: white;
  font-family: 'Didact Gothic', sans-serif;
}
.flex-container > div {
    word-spacing: 30px;
    font-size: 30px;
}
